

header {
	height: 20vh;
	margin-bottom: 2%;
	position: relative;
}
.maintitle {
	margin: 0 0 5% 30%;
	padding-top: 2vw;
	text-shadow: 1px 1px 1px #515151;
}
main {
	min-height: 75vh;
}
.searchcontainer {
	height: 96%;
	margin: 3% 3% 1% 3.3%;
	padding: 1% 1% 1% 1%;
	border-radius: 1%;
	background-color: rgba(117, 117, 117, 0.28);
	box-shadow: .5px .5px 1px #3d3d3d;
}
.mapcontainer {
	background-color: white;
	margin-top: 0;
	padding: 0;
}
.globe-container {
	width: 100%;
	height: 500px;
	padding: 0;
	margin: 0;
}
.browsercontainer {
	background-color: #c4c4c4;
	/*opacity: 0.9;*/
	box-shadow: 2px 2px 4px #3d3d3d;
	border-radius: 1%;
	position: relative;
	padding: 0;
}
.carouselcontainer {
	height: 44%;
	margin: 0;
	padding: 1%;
}

.carousel-left {
	height: 100%;
	width: 100%;
}
.carousel-right {
	height: 100%;
	width: 100%;
}
.browser-top {
	height: 56%;
	flex-flow: row;
	padding: 1%;
	margin: 0;
}


.detailscard ul {
	padding: 0;
	margin: 0;
	border: none;
}
.detailscard li {
	padding: 5% 0 0 0;
	margin: 0;
	border: none;
}
.detailscard {
	width: 100%;
	height: 100%;
	margin-right: .7%;
	padding: 0;
	box-shadow: .5px .5px 1px #3d3d3d;
}
.detailcontainer {
	height: 100%;
	width: 50%;
	margin: 0;
	padding: 0;
	/*background-color: rgba(117, 117, 117, 0.28);*/
	/*box-shadow: .5px .5px 1px #3d3d3d;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.graphcard {
	display: flex;
	flex-flow: column;
	margin-left: .7%;
	width: 50%;
	height: 100%;
	padding: 0;
	box-shadow: .5px .5px 1px #3d3d3d;
	/*background-color: rgba(117, 117, 117, 0.28);*/
	/*box-shadow: .5px .5px 1px #3d3d3d;*/
}
.graphheader-container {
	height: 10%;
	width: 100%;
}
.graphheader {
	height: 17%;
}
.graphcontainer {
	height:82%;
	margin: 0;
	align-items: flex-end;
	background-color: white;
	padding: 2%;
	border-radius: 1%;
}
.graph {
	height: 100%;
	width: 100%;
	display: inline-flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	background-color: rgba(117, 117, 117, 0.28);
	box-shadow: .5px .5px 1px #3d3d3d;
}

.graph-left {
	width: 32%;
	height: 100%;
	background-color: #a3ccd1;
}
.graph-center {
	width: 32%;
	height: 40%;
	background-color:  #336666;
}
.graph-right {
	width:32%;
	height: 10%;
	background-color: #4b4b91;
}
.carousel-cards {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	margin: 0;
	padding: 0;
}
.carousel-cards .card {
	height: 100%;
	width: 26%;
	margin: .7%;
	box-shadow: 1px 1px 2px #3d3d3d;
	display: flex;
	flex-direction: column;
	font-size: .7em;
}
.carousel-cards .card-block {
	padding: 10%;
	margin: 0;
	overflow: hidden;
}
.carousel-cards .card-header {
	font-size: 1.1em;
	height: 15%;
	padding: 5%;
}
.form-group {
	margin: 0;
	font-size: .8em;
}
.carouselcontainer .card-footer {
	padding: 1%;
	text-align: center;
}
.searchbutton {
	margin: 0 5% 50% 1%;
}
.loadingscreen {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	background-color: rgba(155, 155, 155, .6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loadingimage {
	background-color: rgba(155, 155, 155, 0);
}
.carousel-left {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .7;
}
.carousel-right {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .7;
}
.carousel-left-slow {
	height: 90%;
	width: 90%;
	border-radius: 1%;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 1px #3d3d3d;
}
.carousel-left-slow:hover {
	background-color: #666666;
	box-shadow: 1.5px 1.5px 1.5px #3d3d3d;
}
.carousel-left-slow:active {
	background-color: #7c7c7c;
	box-shadow: none;
}
.carousel-right-slow:hover {
	background-color: #666666;
	box-shadow: 1.5px 1.5px 1.5px #3d3d3d;
}
.carousel-right-slow:active {
	background-color: #7c7c7c;
	box-shadow: none;
}
.left-arrow {
  	border-top: 30px solid transparent;
  	border-bottom: 30px solid transparent;
  	border-right:15px solid #4c4c4c;
}
.carousel-right-slow {
	height: 90%;
	width: 90%;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:1%;
	box-shadow: 1px 1px 1px #3d3d3d;
}
.right-arrow {
  	border-top: 30px solid transparent;
  	border-bottom: 30px solid transparent;
  	border-left:15px solid #4c4c4c;
}
.buttontest {
	height: 100%;
}
